[submodule "common"]
	path = common
	url = https://github.com/silentradiance/silentradiance_common.git
[submodule "applications"]
	path = applications
	url = https://github.com/silentradiance/silentradiance_applications.git
